<div id="weatherCarousel" class="carousel slide m-5" data-mdb-ride="carousel" data-mdb-carousel-init>
  <div class="carousel-inner rounded-5">
    <div class="carousel-item active">
      <div class="d-flex justify-content-between align-items-center px-4 py-3 gradient-custom" style="height: 230px;">
        <div class="text-center text-md-left">
          <h2 class="text-dark display-2"><strong>{{firsttemp}} °C</strong></h2>
          <p class="text-dark mb-0">{{locationInfo.name}}</p>
          <p class="text-dark mb-0">{{forecastList[0].dt_txt | date:'fullDate'}}</p>
        </div>
        <div class="text-center text-md-right">          
          <img *ngIf="firstweatherDescription === 'clear sky'" src="assets/img/sun.png" width="150px" class="img-fluid" alt="Weather Icon">
          <img *ngIf="firstweatherDescription === 'overcast clouds'" src="assets/img/cloudy.png" width="150px" class="img-fluid" alt="Weather Icon">
          <img *ngIf="firstweatherDescription === 'broken clouds' || firstweatherDescription === 'few clouds'"  src="assets/img/partly-cloudy.png" width="150px" class="img-fluid" alt="Weather Icon">
          <img *ngIf="firstweatherDescription === 'scattered clouds'"  src="assets/img/scattered clouds.png" width="150px" class="img-fluid" alt="Weather Icon">
          <img *ngIf="firstweatherMain === 'Drizzle'" src="assets/img/drizzle.png" width="150px" class="img-fluid" alt="Weather Icon">
          <!-- <img  *ngIf="firstweatherMain === ''"src="assets/img/mist.png" width="150px" class="img-fluid" alt="Weather Icon"> -->
          <img *ngIf="firstweatherMain === 'Rain'" src="assets/img/rain.png" width="150px" class="img-fluid" alt="Weather Icon">
          <img *ngIf="firstweatherMain === 'Snow'" src="assets/img/snow.png" width="150px" class="img-fluid" alt="Weather Icon">
          <img *ngIf="firstweatherMain === 'Thunderstorm'" src="assets/img/storm.png" width="150px" class="img-fluid" alt="Weather Icon">
          <!-- <img src="assets/img/wind.png" width="150px" class="img-fluid" alt="Weather Icon"> -->
          <!-- <img src="assets/img/hot.png" width="150px" class="img-fluid" alt="Weather Icon"> -->
          <br> <br>
          <p class="text-dark mb-0">{{firstweatherDescription }}</p>
        </div>
      </div>
    </div>

    <!-- Add more carousel items as needed. Example below: -->
    <div class="carousel-item">
      <div class="d-flex justify-content-around text-center align-items-center px-4 py-3 bg-light" style="height: 230px;">
        <div class="flex-column">
          <p class="small"><strong>21°C</strong></p>
          <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
          <p class="mb-0"><strong>12:00 PM</strong></p>
        </div>
        <div class="flex-column">
          <p class="small"><strong>20°C</strong></p>
          <i class="fas fa-cloud fa-2x mb-3" style="color: #ddd;"></i>
          <p class="mb-0"><strong>1:00 PM</strong></p>
        </div>
        <div class="flex-column">
          <p class="small"><strong>19°C</strong></p>
          <i class="fas fa-cloud-showers-heavy fa-2x mb-3" style="color: #ddd;"></i>
          <p class="mb-0"><strong>2:00 PM</strong></p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="d-flex justify-content-around text-center align-items-center px-4 py-3 bg-body-tertiary" style="height: 230px;">
        <div class="flex-column">
          <p class="small"><strong>21°C</strong></p>
          <i class="fas fa-sun fa-2x mb-3" style="color: #ddd;"></i>
          <p class="mb-0"><strong>Mon</strong></p>
        </div>
        <div class="flex-column">
          <p class="small"><strong>20°C</strong></p>
          <i class="fas fa-cloud fa-2x mb-3" style="color: #ddd;"></i>
          <p class="mb-0"><strong>Tue</strong></p>
        </div>
        <div class="flex-column">
          <p class="small"><strong>16°C</strong></p>
          <i class="fas fa-cloud fa-2x mb-3" style="color: #ddd;"></i>
          <p class="mb-0"><strong>Wed</strong></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional: Add carousel controls (previous and next buttons) -->
  <!-- <button class="carousel-control-prev" type="button" data-mdb-target="#weatherCarousel" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#weatherCarousel" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div>
<div class="container">

  <div class="weather-details d-flex justify-content-between align-items-center p-3 ">
    <div class="weather-item text-center">
      <h4>Wind Speed</h4>
      <img src="assets/img/wind.png" width="50px" class="img-fluid mb-2" alt="Wind Icon"><br>
      <span>{{forecastList[0].wind.speed}} m/s</span>
    </div>
    <div class="weather-item text-center">
      <h4>Pressure</h4>
      <img src="assets/img/pressure.png" width="50px" class="img-fluid mb-2" alt="Pressure Icon"><br>
      <span>{{forecastList[0].main.pressure}} hPa</span>
    </div>
    <!-- <div class="weather-item text-center">
      <h4>Sea Level</h4>
      <img src="assets/img/sea level.png" width="50px" class="img-fluid mb-2" alt="Sea Level Icon"><br>
      <span>{{forecastList[0].main.sea_level}}</span>
    </div> -->
    <div class="weather-item text-center">
      <h4>Humidity</h4>
      <img src="assets/img/humidity.png" width="50px" class="img-fluid mb-2" alt="Humidity Icon"><br>
      <span>{{forecastList[0].main.humidity}} %</span>
    </div>
    
    <div class="weather-item text-center">
      <h4>population</h4>
      <img src="assets/img/population.png" width="50px" class="img-fluid mb-2" alt="Humidity Icon"><br>
      <span>{{locationInfo.population}}</span>
    </div>
    
    <div class="weather-item text-center">
      <h4>sunrise</h4>
      <img src="assets/img/sunrise.png" width="50px" class="img-fluid mb-2" alt="Humidity Icon"><br>
      <span> (timestamp): {{ locationInfo.sunrise * 1000 + locationInfo.timezone * 1000 }}</span>
    </div> 
    
    <div class="weather-item text-center">
      <h4>sunset</h4>
      <img src="assets/img/sunset.png" width="50px" class="img-fluid mb-2" alt="Humidity Icon"><br>
      <span> (timestamp): {{ locationInfo.sunrise * 1000 + locationInfo.timezone * 1000 }}
      </span>
    </div>
  </div>
</div>

<p>Sunrise:{{ (locationInfo.sunrise * 1000 + locationInfo.timezone * 1000) | date: 'hh:mm:ss a' : dynamicTimezone(locationInfo.timezone) }}</p>
<p>Sunset: {{ locationInfo.sunset * 1000 + locationInfo.timezone * 1000 | date: 'hh:mm:ss a':'UTC' }}</p>


  
  